#App{
background-color:darkcyan;
}
.line{
    height: 6px;
    width: 100px;
    background-color: black;
    margin: 8px auto;
}
#game{
background-color: firebrick;
}
#chatbot{
background-color: forestgreen;
}